# General
.DS_Store
.vscode/
.idea/

# Node
/node_modules
/dist
npm-debug.log*
yarn-error.log*

# Angular
/.angular/cache
/out-tsc

# .NET
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
*.njsproj
*.lck

# Solution/Project files
*.sln.ide
*.csproj.user
*.resharper
*.jb-presettings
